@import uk.gov.hmrc.play.views.html.helpers.form

@(appConfig: config.AppConfig, cgtReferenceNumber: String)(implicit request: Request[_], messages: Messages)

@views.html.main_template(title = Messages("confirmation.title"), bodyClasses = None, appConfig = appConfig) {

    <h1 class="visuallyhidden">@Messages("confirmation.yourReference")</h1>

    <div id="confirmation-banner" class="transaction-banner--complete">
        <p class="confirm-padding-below">
            <strong class="bold-large">@Messages("confirmation.yourReference")</strong>
        </p>

        <strong class="heading-medium">@cgtReferenceNumber</strong>
    </div>

    <div id="write-this-down" class="form-group instruction-margin">
        <span class="lede">@Messages("confirmation.writeThisDown")</span>
        <p>@Messages("confirmation.writeThisDown.reasonToWriteDown")</p>
    </div>

    <div id="what-happens-next" class="form-group instruction-margin">
        <p>
            <strong class="heading-medium">@Messages("confirmation.whatNext")</strong>
        </p>
        <p>@Messages("confirmation.continue")</p>
        <p class="indent indent-width-thin">@Messages("confirmation.whatNext.informationForForm")</p>
    </div>

    @form(action = controllers.routes.CGTSubscriptionController.submitConfirmationOfSubscription()) {
        <button class="button yes-no-button" type="submit" id="continue-button">@Messages("common.continue")</button>
    }
}
