@()(implicit request: Request[_], messages: Messages)

@views.html.main_template(title = Messages("invalidAffinityGroup.title"), bodyClasses = None) {

    <h1>@Messages("invalidAffinityGroup.title")</h1>

    <p>@Messages("invalidAffinityGroup.paragraph.one")</p>

    <p>@Messages("invalidAffinityGroup.paragraph.two.first") <a href="https://www.tax.service.gov.uk/gg/sign-in?continue=/account">@Messages("invalidAffinityGroup.paragraph.two.link")</a> @Messages("invalidAffinityGroup.paragraph.two.last")</p>

    <p>@Messages("invalidAffinityGroup.paragraph.three")</p>
}