@import models.CompanySubmissionModel
@import uk.gov.hmrc.play.views.html.helpers.form

@(appConfig: config.AppConfig, registeredAddress: Option[CompanyAddressModel], contactAddress: Option[CompanyAddressModel], businessName: String)(implicit request: Request [_], messages: Messages)

@insertAddress(addressTypeName: String, companyAddressModel: CompanyAddressModel, redirect: Option[String]) = {

    <tr>
        <th style="vertical-align: top">@addressTypeName</th>
        <td>
            @if(companyAddressModel.addressLine1.isDefined){
                @companyAddressModel.addressLine1.get<br/>
            }
            @if(companyAddressModel.addressLine2.isDefined){
                @companyAddressModel.addressLine2.get<br/>
            }
            @if(companyAddressModel.addressLine3.isDefined){
                @companyAddressModel.addressLine3.get<br/>
            }
            @if(companyAddressModel.addressLine4.isDefined){
                @companyAddressModel.addressLine4.get<br/>
            }
            @if(companyAddressModel.postCode.isDefined){
                @companyAddressModel.postCode.get<br/>
            }
            @if(companyAddressModel.country.isDefined){
                @companyAddressModel.country.get<br/>
            }
        </td>
        <td style="vertical-align: top">
            @if(redirect.isDefined){
            <a href='@redirect.get'>@Messages("common.change")</a>
            }
        </td>
    </tr>
}

@views.html.main_template(title = Messages("reviewBusinessDetails.title"), bodyClasses = None, appConfig = appConfig) {

    <div class="grid-row">
        <div class="colum-two-thirds">

            <h1 class="heading-xlarge">@Messages("reviewBusinessDetails.title")</h1>

            <h2 class="heading" style="font-weight:normal">@Messages("reviewBusinessDetails.subtitle")</h2>

            <div class="form-group">
                <table>
                    <tbody>
                        <tr>
                            <th style="width:60%">@Messages("reviewBusinessDetails.colHeading")</th>
                            <td>@businessName</td>
                            <td></td>
                        </tr>
                        @if(registeredAddress.isDefined){
                            @insertAddress(Messages("reviewBusinessDetails.registeredAddress"),
                            registeredAddress.get, None)
                        }
                        @if(contactAddress.isDefined){
                            @insertAddress(Messages("reviewBusinessDetails.correspondenceAddress"),
                            contactAddress.get, Some("google.com"))
                            <!--TODO: UPDATE REDIRECT URL!-->
                        }
                        <tr>
                            <th style="vertical-align: top">@Messages("reviewBusinessDetails.contactDetails")</th>
                            <td>Blah blah blah <!--TODO: UPDATE WITH CGT CONTACT DETAILS (MARK'S NEW PROTOTYPE PAGE)-->
                            </td>
                            <td><a href="google.com">@Messages("common.change")</a></td>
                            <!--TODO:UPDATE REDIRECT URL!-->
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <a href="client_summary">
                    <input class="button" value='@Messages("reviewBusinessDetails.registerConfirm")' type="submit" id="registerConfirm">
                </a>
            </div>
        </div>
    </div>
}