@import uk.gov.hmrc.play.views.html.helpers.{form, input}
@import models.FullDetailsModel

@(appConfig: config.AppConfig, userDetailsForm: Form[FullDetailsModel])(implicit request: Request[_], messages: Messages)

@userInput(label: String, identifier: String) = {
    @input(
        userDetailsForm(identifier),
        '_label -> label,
        '_type -> "text",
        '_inputClass -> "form-group input"
    )
}

@views.html.main_template(title = Messages("userDetails.title"), bodyClasses = None, appConfig = appConfig) {

    <h1 class="heading-xlarge">@Messages("userDetails.title")</h1>

    @form(action = controllers.routes.UserDetailsController.submitUserDetails) {

        @userInput(Messages("userDetails.firstName"), "firstName")
    }
}