@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.html.helpers.input
@import models.UserFactsModel
@import views.html.helpers.errorSummary
@import views.html.helpers.countryDropdown

@(appConfig: config.AppConfig, userDetailsForm: Form[UserFactsModel], countryList: List[(String, String)])(implicit request: Request[_], messages: Messages)

@userInput(label: String, identifier: String, size: Int = 2, hiddenLabel: Boolean = false) = {

    @{if(hiddenLabel){
        input(
            userDetailsForm(identifier),
            '_label -> label,
            '_type -> "text",
            '_inputClass -> s"shim input grid-1-$size",
            '_labelClass -> "form-group",
            '_labelTextClass -> "visuallyhidden"
        )
    }else{
        input(
            userDetailsForm(identifier),
            '_label -> label,
            '_type -> "text",
            '_inputClass -> s"shim input grid-1-$size",
            '_labelClass -> "form-group"
        )
    }}
}

@implicitFormInstance = @{ Some(userDetailsForm) }

@pageScripts = {
    <link rel="stylesheet" href='@controllers.routes.Assets.at("jquery/jquery-ui.min.css")'/>
    <link rel="stylesheet" href='@controllers.routes.Assets.at("jquery/jquery-ui.structure.min.css")'/>
    <script type="text/javascript" src='@controllers.routes.Assets.at("jquery/jquery-ui.min.js")'></script>
    <script type="text/javascript" src='@controllers.routes.Assets.at("jquery/jquery-ui-1.12.1.min.js")'></script>
    <script type="text/javascript" src='@controllers.routes.Assets.at("javascript/countryMatching.js")'></script>
    <script>
            $(document).ready(function() {
                countryCodeAutoComplete("#country")
                var classOfSelect1 = $('#country_').attr('class');
                $("#country").addClass(classOfSelect1)
                var labelText1 = $("#country_field").text();
                var divId1 = "country_div"
                var fieldId1 = "country_"
                createLabelForHiddenSelect(divId1, fieldId1, labelText1);
            });
    </script>
}

@views.html.main_template(title = Messages("userDetails.title"), bodyClasses = None, appConfig = appConfig, scriptElem = Some(pageScripts)) {

    @errorSummary(userDetailsForm, "enter-user-details", "userDetails")

    <h1 class="heading-xlarge">@Messages("userDetails.title")</h1>

    @form(action = controllers.routes.UserDetailsController.submitUserDetails) {

        @userInput(Messages("userDetails.firstName"), "firstName")

        @userInput(Messages("userDetails.lastName"), "lastName")

        <h2 class="heading-medium">@Messages("userDetails.secondaryHeading")</h2>

        @userInput(Messages("userDetails.addressLineOne"), "addressLineOne")

        @userInput(Messages("userDetails.addressLineTwo"), "addressLineTwo", hiddenLabel = true)

        @userInput(Messages("userDetails.townOrCity"), "townOrCity")

        @userInput(Messages("userDetails.county"), "county")

        @userInput(Messages("userDetails.postCode"), "postCode", size = 4)

        @countryDropdown(userDetailsForm("country"),
            elementOptions = countryList,
            displayEmptyValue = true,
            '_id -> "country",
            '_emptyValueText -> Messages("userDetails.country.select"),
            '_labelClass -> "form-label",
            '_label -> Html(Messages("userDetails.country")))

        <button class="button" type="submit" id="continue-button">@Messages("common.continue")</button>
    }
}